<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section class="about">
        <div class="main">
            <img src="/static/Mn.jpg" alt="">
            <div class="about-text"><br>
                <h1>About us</h1><br><br>
                <h5>Developer <span> & Designer</span></h5>
                <p>We are here to introduce famous places that will interact & attract people to visit. we both are very fond of travelling so as a website developer we have made a particular website in which people plan for there vacations & user also upload there experience about the new places</p><br>
                <br>
                <button type="button">Let's go</button>
            </div>
        </div>
</section> 
<!-- {% include "footer.html" %} -->

</body>
</html>